/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  width: 100%;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.images {
  display: flex;
  justify-content: space-evenly;
}
.hidden {
  display: none;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
